<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header> 
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <div>
            <p>barra de busqueda</p>
        </div>
        <div>
            <p>compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul>
                
                <li>
                    <a href="">Crea tu cuenta</a>
                </li>
                <li>
                    <a href="">Ingresa</a>
                </li>
                <li>
                    <a href="">Mis compras</a>
                </li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="imagen banner Mercado Liebre">
    </header>

    <main> 
        <section>
            <h2>
                Basado en tu ultima visita
            </h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen celular">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen television">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmatTv Samsung 43"</p>
            </article>
        </section>
        <section>
            <h2>Ofertas Imperdibles</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen celular">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen television">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmatTv Samsung 43"</p>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <h2>Paga con tarjeta o con efectivo</h2>
            <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguto!</p>
        </section>
        <section>
            <h2>Envio gratis desde los $2.500</h2>
            <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h2>Seguridad de principio a fin</h2>
            <p>¿No te gusta? ¡Devuelvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
        </section>
            <p>Copyrigth © 1999-2022 MercadoLiebre S.R.L.</p> <!-- alt + 0169 = © --> 
        <section>
            
        </section>
    </footer>
</body>
</html>